<a href="https://colab.research.google.com/github/Muzaffar2106/database/blob/main/SQLTuto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("test.db")

In [3]:
cur = conn.cursor()

In [4]:
sql = """
CREATE TABLE IF NOT EXISTS users(
   userid INT PRIMARY KEY,
   fname TEXT,
   lname TEXT,
   superhero TEXT,
   gender TEXT);
"""

# Execute query and commit transaction
cur.execute(sql)

In [5]:
sql1 = """
CREATE TABLE IF NOT EXISTS film(
  filmid INT PRIMARY KEY,
  filmTitle TEXT,
  filmProducer TEXT,
  filmRating INT,
  filmDescription TEXT);
"""

cur.execute(sql1)

In [6]:
#check schema of database
sql = """
SELECT name
FROM sqlite_master
WHERE type = 'table';
"""
cur.execute(sql)
cur.fetchall()

[('users',), ('film',)]

In [7]:
#check schema of table users using PRAGMA
sql = """
PRAGMA table_info('users')
"""
cur.execute(sql)
cur.fetchall()

[(0, 'userid', 'INT', 0, None, 1),
 (1, 'fname', 'TEXT', 0, None, 0),
 (2, 'lname', 'TEXT', 0, None, 0),
 (3, 'superhero', 'TEXT', 0, None, 0),
 (4, 'gender', 'TEXT', 0, None, 0)]

In [8]:
#insert data into table
sql = """
INSERT INTO users
VALUES(1, 'Fedally', 'Muzaffar', 'Male', 'IronMan');
"""

cur.execute(sql)

In [9]:
#check whether data has been inserted into table users
sql = """
SELECT *
FROM users;
"""

cur.execute(sql)
cur.fetchall()

[(1, 'Fedally', 'Muzaffar', 'Male', 'IronMan')]

In [12]:
#insert data into table
sql = """
INSERT INTO users 
VALUES(2, 'Subdurally', 'Jamila', 'Female', 'Wonderwoman');
"""

cur.execute(sql)

In [15]:
#check whether data has been inserted into table users
sql = """
SELECT *
FROM users;
"""

cur.execute(sql)
cur.fetchall()

[(1, 'Fedally', 'Muzaffar', 'Male', 'IronMan'),
 (2, 'Subdurally', 'Jamila', 'Female', 'Wonderwoman')]

In [26]:
#inserting many values in the database
many_values = (3, "Laura", "Fletcher", "Female", "Catwoman"), (4,"Peter", "Parker", "Male", "Spiderman"), (5, "Chris", "Evans", "Male", "CaptainAmerica")

sql = """
INSERT INTO users
VALUES (?,?,?,?,?);
"""

cur.executemany(sql, many_values)